body{
    margin: 0px;
    padding: 0px;
    background-color: #DBD5B5;
}

.main{
    margin: auto;
    font-size: 20px;
    width: 70%;
    background-color: #fceddd;
    border-radius: 10px;
}

.header{
    display: flex;
    padding: 10px;
    background-color: #F8333C;
    line-height: 50px;
}

.header img{
    padding: 10px;
    justify-content: flex-start;
    width: 150px;
    height: 150px;
}

.header h1{
    padding-left: 30px;
    font-size: 70px;
    color: #DBD5B5;
}

.nav{
    background-color: #FCAB10;
    border-top: 8px solid #35744B;
    border-bottom: 8px solid #35744B;
    color: #DBD5B5;
    font-family: sans-serif;
    padding: 20px;
    margin: 0px;
    height: 25px;
}

.nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.nav li{
    float: left;
    padding-right: 40px;
}

.nav a{
    margin: 40px;
    padding: 10px;
    text-decoration: none;
    border: 4px solid #F8333C;
    border-radius: 20px;
    color: #242323;
    font-weight: 600;
}

.ativo{
    background-color: #F8333C;
}

.nav a:hover:not(.ativo){
    background-color: #35744B;
    border: 4px solid #35744B;
    color: #DBD5B5;
    transition: 0.4s;
}

.fundo{
    display: flex;
    margin: auto;
    background-image: url('../IMG/fundo_04.png');
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    
}

.container{
    padding: 10px;
    display: flex;
    
    
}

.box{
    padding: 15px;
    flex: 1;
    margin: 10px;   
    border: 4px solid #F8333C;
    
}

.box h2{
    border-bottom: 8px solid #35744B;
    text-align: center;
    color: #F8333C;
    font-size: 40px;
}

.box p{
    text-align: justify;
    color:#070707;
    font-size: 20px;
    font-weight: bolder;
    
}

@media screen and (min-width:1024px) and (max-width:1339px) {
    .nav{
        width: auto;
        font-size: 20px;
        padding: 30px;
        padding-bottom: 30px;
        
    }
    .navbar {
        width: 100%;
        display: inline-flex;
        align-items: center;
        margin-bottom: 10px;
        
        
    }

    .navbar a{
     float: left;
     margin: 0;
     padding: 10px;
     padding-left: 10px;
     
    }

    .ativo{
        background-color: #F8333C;
    }
    
    .nav a:hover:not(.ativo){
        background-color: #35744B;
        border: 4px solid #35744B;
        color: #DBD5B5;
        transition: 0.4s;
    }
    
    .footer{
        font-size: 20px;
        
    }
    
}


@media screen and (min-width:768px) and (max-width: 1023px) {

    .main{
        width: fit-content;
        display: block;
    }
    .header{
        display: flex;
        padding: 0px;
    }
    .header img{
        width: 100px;
        height: 100px;
        padding: 0;  
    }
    .header h1{
        padding-inline-start: 30px;
        font-size: 40px; 
    }

    .nav{
        width: auto;
        font-size: 25px;
        
    }
    .navbar {
        
        float:none;
        display: inline-flex;
        
        
    }

    .navbar a{
     float: left;
     margin: 0;
     padding: 5px;
    }

    .ativo{
        background-color: #F8333C;
    }
    
    .nav a:hover:not(.ativo){
        background-color: #35744B;
        border: 4px solid #35744B;
        color: #DBD5B5;
        transition: 0.4s;
    }
    .footer{
        font-size: 25px;
        
    }
}

@media screen and (min-width:320px) and (max-width: 767px) {
    
    .main{
        width: fit-content;
        
        display: block;
    }
    .header{
        padding: 0;
    }
    .header img{
        width: 80px;
        height: 80px;
        padding: 0;  
    }
    .header h1{
        padding-inline-start: 10px;
        font-size: 15px; 
    }

    .nav{
        width: auto;
        font-size: 12px;
    }
    .navbar {
        
        float:none;
        display: inline-flex;
    }

    .navbar a{
     float: none;
     margin: 0;
     padding: 5px;
    }

    .ativo{
        background-color: #F8333C;
    }
    
    .nav a:hover:not(.ativo){
        background-color: #35744B;
        border: 4px solid #35744B;
        color: #DBD5B5;
        transition: 0.4s;
    }
    .fundo{
        width: 100%;
    }

    .box{
        width: auto;
        
    }

    .footer{
        font-size: 13px;
        
    }
}



















.footer{
    background-color: #F8333C;
    border-top: 8px solid #35744B;
    border-bottom: 8px solid #35744B;
    color: #DBD5B5;
    font-size: 18px;
    text-align: center;  
}